@{
    int currentYear = DateTime.Now.Year;
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<!-- Start: Footer Basic -->
<footer class="text-center">
    <div class="container py-4 py-lg-5">
        <p class="mb-0">
            &copy; 2022 - @currentYear Khronos PRO 2 by
            <a href="https://arbhie.com" target="_blank"> arbhie.com </a>
        </p>
    </div>
</footer>
<!-- End: Footer Basic -->

